.here{

    @media (width >= 993px ){
    background: #F4F4F4;
    }

    .here__wrapper{
    display: flex;
    flex-direction: column;
    padding-right: 0;

    @media (width >= 993px){
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 68px 1fr;
    padding-top: 100px;
    }
    }

    .here__box-cards{
    order: 2;
    margin-top: 36px;

    @media (width >= 481px ){
    margin-top: 52px;
    }

     @media (width >= 993px){
     grid-row: span 2;
    max-width: 540px;
    margin-top: 0;
        }


        .box__card{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin-bottom: 38px;
            max-width: 722px;

            @media (width >= 481px){
                flex-direction: row;
                margin-bottom: 59px;
            }

            @media (width >= 993px){
                display: flex;
               justify-content: start;
                gap: 23px;
                margin-bottom: 35px;
                min-width: 536px;
                min-height: 110px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            .card__img{
           display: flex;
           justify-content: center;
           align-items: start;
           min-width: 110px;
           
            } 
            .card__info{
                margin-top: 25px;

                @media (width >= 481px ){
                    margin-top: 0;
                }

               .info__title{
            color: #323232;
            font-size: 16px;
            line-height: 100%; 
            text-align: center;
            padding-bottom: 15px;

            @media (width >= 481px ){
                text-align: start;
                line-height: 131%;
                padding-bottom: 2px;
            }
            }
            .info__text{
                color: $color-text-gray;
                font-family: Lato;
                font-size: 14px;
                line-height: 150%;
                text-align: center;
                padding-right: 10px;

                @media (width >= 480px ){
                    text-align: start;
                }
            }
            }
           
        }
    }

    .here__title{
        order: 1;
        font-size: 32px;
        text-align: center;
        color: $color-purple-hover;
        line-height: 118%; 
        font-weight: 700;
        margin-top: 32px;
        position: relative;

        &::after{
      content: ">";
      font-size: 32px;
        color: $color-purple-hover;
        line-height: 118%; 
        font-weight: 700;
        margin-top: 32px;
        }

        &::before{
            content: "<";
            font-size: 32px;
              color: $color-purple-hover;
              line-height: 118%; 
              font-weight: 700;
              margin-top: 32px;
              }

              @media (width >= 481px ){
                font-size: 42px;
                line-height: 104%; 
              }

        @media (width >= 993px){
            text-align: start;
            order: 2;
            font-size: 48px;
            margin-left: 65px;
            line-height: 70%; 
            margin-top: 6px;
            }
    }

    .here__img{
        order: 3;
        margin-top: 64px;
        display: flex;
    align-items: end;
    justify-content: end;

        .img__here{
            width: 100%;
            height: 100%;
        }
        
        @media (width >= 993px){
            margin-top: 4px;
            margin-bottom: 30px;
             margin-left: 30px;
        }
    }

}