.revolutionary{
.revolutionary__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
      padding: 0 22px;

    @media (width >= 481px) {
      max-width: 1040px;
      padding: 0 40px;
    }

    @media (width >= 993px) {
     max-width: 935px;
    }

}
    .revolutionary__download{
        .download__button{
         @include btn;
         background-color: $color-purple-hover;
         color: $color-white;
         border: 2px solid $color-purple-hover;
         padding: 13px 24px;
         font-weight: 700;
         line-height: 111%;
         font-size: 18px;
         margin-top: -35px;

        @media (width >= 481px ){
        padding: 23px 61px;
        font-size: 21px;
        line-height: 109%;
        }

        &:hover{
            background-color: $color-white;
            color: $color-purple-hover;  
        }
        }

        .download__period{
        color: $color-text-gray;
         line-height: 100%;
         font-size: 14px;
         margin-top: 12px;
         margin-bottom: 71px;

         @media (width >= 481px ){
            margin-top: 19px;
            margin-bottom: 93px;
            line-height: 114%;
         }

         @media (width >= 993px ){
            margin-bottom: 66px;
            line-height: 107%;
         }

        }
    }

    .revolutionary__editor{
        .editor__title{
            color: #635C73;
            font-size: 26px;
            font-weight: 700;
            line-height: 107%;
            text-transform: uppercase;
           
            @media (width >= 481px ){
                font-size: 42px;
                line-height: 100%;
            }

            @media (width >= 993px ){
                font-size: 54px;
            }
        }
        .editor__text{
        color: #323232;
        font-family: Lato;
        font-size: 14px;
        line-height: 142%;
        margin-bottom: 36px;
        margin-top: 27px;
        @media (width >= 481px ){
            font-size: 21px;
            line-height: 152%;
            margin-bottom: 24px;
            margin-top: 30px;
        }

        @media (width >= 993px ){
           margin-bottom: 13px;
           margin-top: 35px;
        }
        }
    }
    .revolutionary__github-buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;  
        gap: 10px;
    min-width: 250px;
    margin-bottom: 88px;
    font-size: 14px; 
    
    @media (width >= 481px ){
        font-size: 16px;
        margin-bottom: 98px;
    }
    @media (width >= 993px ){
        font-size: 16px;
        margin-bottom: 70px;
    }

       .github-buttons__box{
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;

    .github-buttons__svg{
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.1);

    .icon{
        margin-left: 5px;
      }

    .github-buttons__action{
          padding: 5px;
            }
        }
        
    .github-buttons__text{
            padding: 5px;
        }
    } 
    }
    
}