.subscription{
    background-image: url(../../img/subscription-section/subscription.png);
    background-size: 100% 100%;
    padding-bottom: 97px;

    .subscription__box{
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    .subscription__title{
        color: $color-white;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 150%; 
        padding-top: 79px;
        padding-bottom: 32px;
        @media (width >= 481px){
            font-size: 42px;
            line-height: 104%;
            padding-bottom: 39px;
        }

        @media (width >= 993px ){
            padding-top: 81px;
            padding-bottom: 92px;
            font-size: 48px;

        }
    }

    .subscription__box-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 18px;
        
        @media (width >= 481px){
            column-gap: 25px;
            row-gap: 71px;
        }

        @media (width >= 993px ){
            gap: 15px;
        }

        .box-cards__card{
            height: 478px;
            background-color: rgba(255, 255, 255, 0.11);
            display: flex;
            flex-direction: column;
            align-items: center;
             

            .card__category{
                background-color: rgba(255, 255, 255, 0.06);
                min-width: 257px;
                min-height: 97px;
                .categoty__text{
                    color: $color-white;
                    text-align: center;
                    padding-top: 36px;
                font-size: 24px;
                line-height: 100%;
                text-transform: uppercase;
                }
            }

            .card__bottom{
                display: flex;
                align-items: center;
                flex-direction: column;
                .card__price{
                    color: $color-white;
                    text-align: center;
                    font-size: 60px;
                    line-height: 103%; 
                    text-transform: uppercase;
                    padding-top: 30px;
                    padding-bottom: 20px;
                }
                .card__month{
                    color: $color-white;
                    text-align: center;
                    font-size: 14px;
                    line-height: 114%;
                    text-transform: uppercase;
                    padding-bottom: 72px;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 56px;
                        right: calc(50% - 35px);
                        background: #8d81ac;
                        padding: 2px 35px;
                    
                    }
                }

                .card__license{
                    color: $color-white;
                    text-align: center;
                    font-size: 16px;
                    line-height: 112%; 
                    min-height: 36px;
                    
                }
                

                .card__botton{
                    border-radius: 40px;
                    text-align: center;
                    color: $color-white;
                     cursor: pointer;
                    font-size: 16px;
                    max-width: 165px;
                     background-color: #695c6c;
                     font-size: 15px;
                    line-height: 100%;
                     text-transform: uppercase;
                     padding: 15px 38px;
                     margin-top: 67px;
    
                }
            }
        }
         
        .box-card__card--big{
            height: 560px;
           background-color: rgba(70, 48, 72, 0.84);
           @media (width >= 569px){
            margin-left: -40px;
            margin-top: -50px;
           }

           @media (width >= 993px){
            margin-left: 0;
            
           }

            .card__category--big{
             background-color: rgba(0, 0, 0, 0.11);
             padding-top: 7px;
             min-width: 299px;
             min-height: 111px;
           }

           .card__bottom--big{


            .card__price--big{
            padding-top: 14px;
            padding-bottom: 16px;
                font-size: 82px;
                line-height: 102%;
            
            }

            .card__month--big{
            padding-bottom: 91px;
            }

            .card__botton--big{
                margin-top: 95px;
            }
           }
        }
        
    }
}