<section class="here">
    <div class="container here__wrapper">
<div class="here__box-cards">
    
    <div class="box__card">
        <div class="card__img">
           <img src="@img/hero-section/here-icon1.png" alt=""> 
        </div>
        <div class="card__info">
        <p class="info__title">Creatred to Make The Web Better</p>
        <p class="info__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. 
            Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
    </div>

    <div class="box__card">
        <div class="card__img">
          <img src="@img/hero-section/here-icon2.png" alt="">  
        </div>
        <div class="card__info">
        <p class="info__title">Creatred to Make The Web Better</p>
        <p class="info__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
             Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
        </div>
    </div>

    <div class="box__card">
        <div class="card__img">
           <img src="@img/hero-section/here-icon3.png" alt=""> 
        </div>
        <div class="card__info">
        <p class="info__title">Creatred to Make The Web Better</p>
        <p class="info__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
             Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
        </div>
    </div>

    <div class="box__card">
        <div class="card__img">
           <img src="@img/hero-section/here-icon4.png" alt="">  
        </div>
        <div class="card__info">
        <p class="info__title">Creatred to Make The Web Better</p>
        <p class="info__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
             Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
        </div>
    </div>
</div>

    <p class="here__title">Here is what you get</p> 
<div class="here__img">
    <img class="img__here" src="@img/hero-section/img-here.png" alt="">
</div>

    </div>
</section>
