<section class="subscription">
    <div class="subscription__box container">
        <p class="subscription__title">Fork Subscription Pricing</p>
        <div class="subscription__box-cards">
            <div class="box-cards__card">
        <div class="card__category">
         <p class="categoty__text">Students</p>
        </div>
        <div class="card__bottom">
            <p class="card__price">$29</p>
            <p class="card__month">per month</p>
            <p class="card__license">Personal License</p>
            <button class="card__botton">purchase</button>
            </div>
        </div>


        <div class="box-cards__card">
            <div class="card__category">
             <p class="categoty__text">professional</p>
            </div>
            <div class="card__bottom">
                <p class="card__price">$59</p>
                <p class="card__month">per month</p>
                <p class="card__license">Professional License <br />
                     Email Support</p>
                <button class="card__botton">purchase</button>
                </div>
            </div>


            <div class="box-cards__card box-card__card--big">
                <div class="card__category card__category--big">
                 <p class="categoty__text category__text--big">agency</p>
                </div>
                <div class="card__bottom card__bottom--big">
                    <p class="card__price card__price--big">$99</p>
                    <p class="card__month card__month--big">per month</p>
                    <p class="card__license card__license--big">1-12 Team Members <br /> Phone Support</p>
                    <button class="card__botton card__botton--big">purchase</button>
                    </div>
                </div>


                <div class="box-cards__card">
                    <div class="card__category">
                     <p class="categoty__text">enterprise</p>
                    </div>
                    <div class="card__bottom">
                        <p class="card__price">$159</p>
                        <p class="card__month">per month</p>
                        <p class="card__license">Unlimited Team Members <br /> 
                            24/ 7 Phone Support</p>
                        <button class="card__botton">purchase</button>
                        </div>
                    </div>
        </div>
    </div>
</section>
